.carousel {
  margin-top: 1rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1;
  overflow-x: scroll;
  align-items: center;
  flex-wrap: none;
  scrollbar-width: 50px;
  flex-direction: row;
}

.carouselItem {
  flex-shrink: 0;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 82.5vw;
  height: 80vh;
  font-size: 1.5em;
  margin-right: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: black 3px 3px;
}

.case1 {
  background-image: url("../images/hero.jpg");
}

.case2 {
  background-image: url("../images/hero.jpg");
}

.case3 {
  background-image: url("../images/hero.jpg");
}

.case4 {
  background-image: url("../images/hero.jpg");
}

.case5 {
  background-image: url("../images/hero.jpg");
  margin-right: 0;
}

@media screen and (min-width: 1024px) {
  .carouselItem {
    width: 40vw;
    margin-right: 1vw;
  }
}
